.App {
  text-align: center;
}


.userContainer {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  width: 250px;
  height: auto;
  background-color: lightsalmon;
  color: black;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
  border-radius: 1rem;
}

.calculatorContainer {
  background-color: white;
  width: 450px;
  max-width: 450px;
  height: fit-content;
  display: block;
  justify-content: space-between;
  align-items: left;
}
.calculatorButtons
{
  width: 5rem;
  height: 2.5rem;
  margin-right: 4px;
}

@media (prefers-reduced-motion: no-preference) {

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
